<nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow">
  <div class="container">
    <a class="navbar-brand fw-bold" routerLink="/">Corporación Médica CcaliMedic</a>
    <div class="d-flex">
      <a class="nav-link text-white me-3" routerLink="/resultados">Portal del Paciente</a>
      <a class="nav-link text-white" routerLink="/login">Intranet Médico</a>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
<footer class="bg-dark text-white text-center py-3 mt-5">
  <p class="mb-0">© 2026 Corporación Médica CcaliMedic. Todos los derechos reservados.</p>
</footer>